PORT=3000 # puerto de conexion del servidor

DB_HOST= # host de conexion con la base de datos
DB_PORT= # puerto de conexion con la base de datos
DB_NAME= # nombre de la base de datos
DB_USER= # usuario de la base de datos
DB_PASSWORD= # contraseña de la base de datos
DB_MAX_CONNECT= # numero maximo de conexiones a la base de datos
DB_IDLETIMEOUT= # tiempo de espera de conexion inactiva a la base de datos
DB_CONNECTIONTIMEOUT= # tiempo de espera de conexion a la base de datos
